
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("desn.png")

}

container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 5px 10px;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30x;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px; 
    background: rgba(255,255, 255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    background-image: url("dean2.png");
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8cm;
    color: rgba(0,0,0,0.005);
    pointer-events: none;

}

.container .card .content h3{
    font-size: 0.8cm;
    color:rgba(43, 0, 0, 0.719);
    z-index: 1;
}

.container .card .content p{
font-size: 0.5cm;
color: #a08940;
font-weight: 300;

}




.container .card4{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30x;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px; 
    background: rgba(255,255, 255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}

.container .card4 .content4{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    background-image: url("sam.jpeg");
}

.container .card4:hover .content4{
    transform: translateY(0px);
    opacity: 1;
}

.container .card4 .content4 h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8cm;
    color: rgba(0,0,0,0.005);
    pointer-events: none;

}

.container .card4 .content4 h3{
    font-size: 0.8cm;
    color:rgba(43, 0, 0, 0.719);
    z-index: 1;
}

.container .card4 .content4 p{
font-size: 0.5cm;
color: #a08940;font-weight: 300;

}






.container .card3{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30x;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px; 
    background: rgba(255,255, 255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}

.container .card3 .content3{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    background-image: url("castiel.jpeg");
}

.container .card3:hover .content3{
    transform: translateY(0px);
    opacity: 1;
}

.container .card3 .content3 h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8cm;
    color: rgba(0,0,0,0.005);
    pointer-events: none;

}

.container .card3 .content3 h3{
    font-size: 0.8cm;
    color:rgba(43, 0, 0, 0.719);
    z-index: 1;
}

.container .card3 .content3 p{
font-size: 0.5cm;
color: #a08940;font-weight: 300;

}





