
*{
    margin: 0;
    padding: 0;
    color: rgb(100 149 237);
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #191970;
}

container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30x;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px; 
    background: rgba(255,255, 255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container .card .content{
    padding: 65px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    background-image: url("dean.jpg.jpg");
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8cm;
    color: rgba(0,0,0,0.005);
}